<head>

</head>
<body>
	<h1>1.최종 주문 내역서</h1>
	<table border=1 >
		<tbody align=center>
			<tr style="background: #33ff00">
				<td>주문번호</td>
				<td colspan='2' >주문상품명</td>
				<td>수량</td>
				<td>주문금액</td>
				<td>배송비</td>
				<td>예상적립금</td>
				<td>주문금액합계</td>
			</tr>
			<tr>

				<td>_order_id</td>
				<td>
				   <a href="http://localhost:8065/bookshop01/goods/goodsDetail.do?goods_id=_goods_id">
					    <img width="75" alt=""  src="http://localhost:8065/bookshop01/thumbnails.do?goods_id=_goods_id&fileName=_goods_fileName">
				   </a>
				</td>
				<td>
					  <h2>
					     <a href="http://localhost:8065/bookshop01/goods/goodsDetail.do?goods_id=_goods_id ">_goods_title</a>
					  </h2>
				</td>
				<td>_order_goods_qty</td>
				<td>_order_goods_qty  * _order_goods_price</td>
				<td>0원</td>
				<td>_order_goods_delivery</td>
				<td>_total_order_goods_price</td>
			</tr>
		</tbody>
	</table>
	<div class="clear"></div>
	<form name="form_order">
		<br> <br>
		<h1>2.배송지 정보</h1>
		<div class="detail_table">

			<table>
				<tbody>
					<tr class="dot_line">
						<td class="fixed_join">배송방법</td>
						<td>
						   ${myOrderInfo.delivery_method } 
						</td>
					</tr>
					<tr class="dot_line">
						<td class="fixed_join">받으실 분</td>
						<td>
						 	 ${myOrderInfo.receiver_name } 
						</td>
					</tr>
					<tr class="dot_line">
						<td class="fixed_join">휴대폰 번호</td>
						<td>
						   ${myOrderInfo.receiver_hp1}-${myOrderInfo.receiver_hp2}-${myOrderInfo.receiver_hp3}
						  </td>
					</tr>
					<tr class="dot_line">
						<td class="fixed_join">유선전화(선택)</td>
						<td>
						   ${myOrderInfo.receiver_tel1}-${myOrderInfo.receiver_tel2}-${myOrderInfo.receiver_tel3} 
						</td>
					</tr>


					<TR class="dot_line">
						<TD class="fixed_join">주소</TD>
						<td>
						   ${myOrderInfo.delivery_address} 
						  </td>
					</TR>
					<TR class="dot_line">
						<TD class="fixed_join">배송 메시지</TD>
						<td>
							 ${myOrderInfo.delivery_message} 
						</td>
					</TR>
					<TR class="dot_line">
						<TD class="fixed_join">선물 포장</TD>
						<td>
						   ${myOrderInfo.gift_wrapping} 
						</td>
					</TR>
				</TBODY>
			</TABLE>

		</DIV>
		<div>
			<br>
			<br>
			<h2>주문고객</h2>
			<table>
				<TBODY>
					<tr class="dot_line">
						<td><h2>이름</h2></td>
						<td>
						 	<input type="text" value="${orderer.member_name}" size="15" disabled />
						</td>
					</tr>
					<tr class="dot_line">
						<td><h2>핸드폰</h2></td>
						<td>
						   <input type="text" value="${orderer.hp1}-${orderer.hp2}-${orderer.hp3}" size="15" disabled />
						</td>
					</tr>
					<tr class="dot_line">
						<td><h2>이메일</h2></td>
						<td>
						   <input type="text" value="${orderer.email1}@${orderer.email2}" size="15" disabled /> 
						 </td>
					</tr>
				</TBODY>
			</table>
		</div>
		<DIV class="clear"></DIV>
		<br> <br> <br>
		<H1>3.결제 정보</H1>
		<DIV class="detail_table">
			<table>
				<TBODY>
					<TR class="dot_line">
						<TD class="fixed_join">결제방법</TD>
						<TD>
							 ${myOrderInfo.pay_method } 
						</TD>
					</TR>
					<TR class="dot_line">
						<TD class="fixed_join">결제카드</TD>
						<TD>
						   ${myOrderInfo.card_com_name} 
						  </TD>
					</TR>
					<TR class="dot_line">
						<TD class="fixed_join">할부기간</TD>
						<TD>
						   ${myOrderInfo.card_pay_month }
						 </TD>
					</TR>
				</TBODY>
			</table>
		</DIV>
	</form>
	<DIV class="clear"></DIV>
	<br>
	<br>
	<br>
	<center>
		<br> <br> <a href="${contextPath}/main/main.do"> <IMG width="75" alt="" src="${contextPath}/resources/image/btn_shoping_continue.jpg">
		</a>
		<DIV class="clear"></DIV>
</center>		
</body>